*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    display: -webkit-flex;
    justify-content: center;
    position: relative;
    background-color: #2a47a5;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 15px 60px;
    display: block;

}
ul li:hover{
    background-color: #465da7;

}
ul ul{
    position: absolute;
    margin-top: 1px;
    min-width: 250px;
    display: none;
    
}
ul ul li{
    display: block;
    background: #465da7;
}
ul li:hover ul{
    display: block;
}ul ul li:hover{
    background-color: #2a47a5;
    font-weight: bold;
}